* {
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 700px;
    padding: 50px;
    display: flex;
    background-color: #e9ecef;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

label input {
    margin-top: 10px;
    width: 100%;
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 5px;
    width: 100px;
    padding: 10px;
    width: 100px;
    background-color: #52a3f9;
    border: 1px solid #52a3f9;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

input.ng-touched.ng-invalid{
    border-color: red;
   }

.error {
    color: red;
    text-align: start;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-size: 15px;
}