:root {
    --bg-color: #eee;
    --text-color: #111;
    --mobile-bg-img: url('./../assets/img/menu.png');
}

.app {
    background-color: var(--bg-color);
    height: 100vh;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    height: 4rem;
    align-items: center;
    background-color: var(--menu-bg-color);
}

.nav-list {
    display: flex;
}

.nav a {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    color: var(--menu-text-color);
}

.mobile-menu {
    display: none;
    width: 2rem;
}

.mobile-nav-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    border: 1px solid black;
    left: 0;
    top: 4rem;
    transition: .5s;
}

.mobile-nav-list li {
    background-color: black;
    color: white;
}

input[type="checkbox"] {
    position: relative;
    height: 1.5rem;
    -webkit-appearance: none;
    width: 3.5rem;
    background: #ccc;
    outline: none;
    border-radius: 30px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"] {
    position: relative;
    height: 1.5rem;
    -webkit-appearance: none;
    width: 3.5rem;
    background: #03a9f4;
    outline: none;
    border-radius: 30px;
    transition: .5s;
}

input[type="checkbox"]::after {
    content: '';
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #777;
    border-radius: 50%;
    transform: scale(1.2);
    top: 0;
    left: 0;
    transition: .5s;
}

input:checked[type="checkbox"]::after {
    left: 2rem;
}

@media(max-width: 768px){
    .nav-list {
        display: none; 
    }

    .mobile-menu {
        display: block;
        width: 2rem;
        height: 2rem;
        background-image: url('./../assets/img/menu.png');
        background-position: center;
        background-size: cover;
    }
}