<div class="container">
  <form [formGroup]="profileDate" (ngSubmit)="onSubmit()">
    <h1>Angular Reactive Form validation</h1>
    <label>
      First Name: <input type="text" id="first-name" formControlName="firstName">
      <div class="error" *ngIf="isControlInvalid('firstName')">
        First Name is required
      </div>
    </label><Br>
      
    <label>
      Last Name: <input type="text" id="last-name" formControlName="lastName">
      <div class="error" *ngIf="isControlInvalid('lastName')">
        Last Name is required
      </div>
    </label><Br>

    <label>
      Email: <input type="text" id="email" formControlName="email">
      <div class="error" *ngIf="isControlInvalid('email')">
        Email is required
      </div>
    </label><Br>

    <label>
      Password: <input type="password" id="password" formControlName="password">
      <div class="error" *ngIf="isControlInvalid('password')">
        Password is required
      </div>
    </label><Br>

      <button (click)="onSubmit">Register</button>
  </form>
</div>