.field-group {
    padding: 4px 10px;
}

.field-group label {
    display: block;
    font-weight: bold;
}

.field-group input {
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.field-group button {
    display: block;
    padding: 10px;
    border: none;
    color: #fff;
    background: #444444;
    width: 100%;
}

.field-group button:disabled,
.field-group button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
