<div class="profile">
    <div class="header">
            <span class="mxweight">Darman</span> Nauryzbayev
        </div>
        
        <div class="sidebar">
            <section class="education">
            <p class="title">Образование</p>
            <p class="name mxweight">КазНПУ</p>
            <p class="info">2013 - 2019</p>
            <ul>
                <li class="item">5B011100 - Информатика, бакалавр</li>
                <li class="item">6M011100 - Информатика, магистратура</li>
            </ul>
            </section>
        
            <section class="skills">
            <p class="title">Навыки</p>
            <ul>
                <li class="item">React</li>
                <li class="item">Angualar</li>
                <li class="item">MongoDB</li>
                <li class="item">NodeJS</li>
                <li class="item">Express</li>
            </ul>
            </section>
        
            <section class="contacts">
            <p class="title">Контакты</p>
            <ul>
                <li class="item"><img src="./../assets/img/github-logo.png" alt="github.com">GitHub</li>
                <li class="item"><img src="./../assets/img/instagram.png" alt="instagram.com">Instagram</li>
                <li class="item">+77079553035</li>
            </ul>
            </section>
        </div>
        
        <div class="main">
            <section class="works">
            <p class="title">Стаж работы</p>
            <p class="name mxweight">Преподователь робототехники</p>
            <p class="info">2016-2017</p>
            </section>
        </div>
</div>