ul li {
  float: left;
  list-style: none;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  color: hsla(0,0%,100%,.9);
  text-decoration: none;
  margin: 0 5px;
  letter-spacing: 1.8px;
  font-size: 16px;
  font-weight: bold;
}

ul li:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding-left: 0;
}

.logo {
  width: 50px;
  display: inline-block;
}

.clear {
  clear: both;
}
